body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 0px; 
}

.header-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.main-content {
    display: flex;
    justify-content: space-around;
}

.search-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    margin: 80px;
    font-size: 24px;
    border-bottom: 2px solid #ccc; 
}

.container-info {
    flex: 4;
    display: flex;
    flex-direction: column;
    position: relative;
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.5);
    padding: 10px;
    margin: 80px;
    border-bottom: none;
}

.city-search {
    padding: 10px;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.582);
}

.search-btn {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(19, 149, 192);
    color: white;
}

.search-btn:hover {
    background-color: rgb(21, 175, 226);
}

#portlandBtn, #losAngelesBtn, #lasVegasBtn, #newYorkBtn, #austinBtn, #chicagoBtn {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(116, 116, 116);
    color: rgb(0, 0, 0);
}

#portlandBtn:hover, #losAngelesBtn:hover, #lasVegasBtn:hover, #newYorkBtn:hover, #austinBtn:hover, #chicagoBtn:hover {
    background-color: rgb(184, 184, 184);
}

.icon {
    max-width: 70px;
}
.forecast-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient( rgb(25, 198, 255),  rgb(25, 182, 235));
    box-shadow: rgba(140, 75, 101, 0.24) 2px 8px 8px 2px;
}
